<div id="<%= dom_id feature_extraction_query %>">
  <p>
    <strong>Content:</strong>
    <%= feature_extraction_query.content %>
  </p>

  <p>
    <strong>Embedding:</strong>
    <%= feature_extraction_query.embedding %>
  </p>

  <p>
    <strong>Search field:</strong>
    <%= feature_extraction_query.search_field %>
  </p>

</div>
