<% content_for :title, "New feature extraction query" %>

<h1>New feature extraction query</h1>

<%= render "form", feature_extraction_query: @feature_extraction_query %>

<br>

<div>
  <%= link_to "Back to feature extraction queries", admin_feature_extraction_queries_path %>
</div>
