<div class="text-right">
  <%= button_to 'Sign Out', session_path, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
</div>
<div>
  <%= @user.email_address %>
  <div>
    api_token : <%= @user.api_token %>
  </div>
  <div>
    credit : <%= @user.api_credit %>
  </div>
</div>